@font-face{
    font-family:"alex";
    font-style:normal;
    src: url("./AlexBrush-Regular.ttf");
}


@mixin flex {
    display:flex; align-items: center; justify-content: center;
}

@mixin background {
    background-size: cover;background-position: center center;
}

@import "./variables";
@import "./reset";
@import "./header";
@import "./banner";
@import "./services";
@import "./projects";
@import "./provisions";
@import "./team";
@import "./contact";


